body {
    font-family: 'Open Sans', sans-serif;
    margin: 0px auto;
}


.header {
    width: 80%;
    margin: 0 auto 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 30;
    background-color: #333;
}

    .header h1 {
        color: #FC0;
        text-align: center;
    }


footer {
    clear: both;
    width: 875px;
    height: 30px;
    background-color: #FC0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 12px;
    color: #333;
    padding: 20px 0 0 25px;
}

.time-block {
    position: absolute;
    float: left;
    left: 10%;
    width: 80%;
    margin: 0 auto 0 auto;
    top: 115px;
    padding-top: 10px;
    padding-bottom: 50px;
    background: lightgray;
    z-index: 20;
    margin-top: 25px;
    box-shadow: 1px 1px 4px 0 lightgray;
}

.input-row {
    clear: both;
}

.time-block-question {
    left: 5%;
    position: relative;
    float: left;
    color: black;
    overflow: hidden;
}

.time-block-input {
    float: left;
    position: relative;
    left: 5%;
}

    .time-block-input input {
        height: 40px;
        text-align: center;
        font-size: 20px;
        margin-top: 7%;
    }

.start-button {
    float: left;
    position: relative;
    left: 7%;
}

.restart-button {
    float: left;
    position: relative;
    left: 9%;
}

.clear-button {
    float: left;
    position: relative;
    left: 11%;
    right: 2%;
}

.start-button button {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    margin-top: 17%;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background: #32C12C;
    color: white;
    border: 1px solid transparent;
    border-radius: 4px;
    height: 42px;
    width: 120px;
    box-shadow: 1px 3px 2px 0 lightgray;
}

    .start-button button:hover {
        box-shadow: 0 0 lightgray;
    }

    .start-button button:focus {
        outline: 0;
    }

.restart-button button {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    margin-top: 17%;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background: cornflowerblue;
    color: white;
    border: 1px solid lightgray;
    border-radius: 4px;
    height: 42px;
    width: 120px;
    box-shadow: 0px 2px 4px 0 lightgray;
}

    .restart-button button:hover {
        box-shadow: 0 0 lightgray;
    }

    .restart-button button:focus {
        outline: 0;
    }

.clear-button button {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    margin-top: 17%;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background: #ff0000;
    color: white;
    border: 1px solid lightgray;
    border-radius: 4px;
    height: 42px;
    width: 120px;
    box-shadow: 0px 2px 4px 0 lightgray;
}

    .clear-button button:hover {
        box-shadow: 0 0 lightgray;
    }

    .clear-button button:focus {
        outline: 0;
    }

.display-count {
    float: left;
    background: #FC0;
    position: relative;
    margin-top: 0%;
    left: 18%;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    border: 2px solid black;
}

    .display-count h1 {
        font-size: 80px;
        bottom: 0;
        text-align: center;
        color: white;
        margin-top: 1%;
    }


.display-blocks-section {
    position: absolute;
    left: 0;
    right: 0;
    top: 430px;
}

.fingers-box {
    border: 1px solid lightgray;
    width: 15%;
    height: 200px;
    left: 30%;
    position: relative;
    float: left;
    border-radius: 15px 50px;
    text-align: center;
}

    .fingers-box h1 {
        margin-top: 37%;
    }

.toes-box {
    border: 1px solid lightgray;
    width: 15%;
    height: 200px;
    left: 40%;
    position: relative;
    float: left;
    border-radius: 15px 50px;
    text-align: center;
}

    .toes-box h1 {
        margin-top: 37%;
    }

@media only screen and (max-width: 1280px) {
    .fingers-box h1 {
        margin-top: 45%;
    }

    .toes-box h1 {
        margin-top: 45%;
    }
}

@media only screen and (max-width: 1024px) {
    .header {
        text-align: center;
        vertical-align: middle;
    }

        .header h1 {
            right: 2.5%;
            left: 2.5%;
        }

    .time-block {
        left: 2.5%;
        right: 2.5%;
    }

    .time-block-question {
        text-align: center;
    }

        .time-block-question h3 {
            position: relative;
        }

    .time-block-input {
        left: 20%;
        width: 60%;
    }

        .time-block-input input {
            width: 100%;
            height: 78px;
        }

    .start-button {
        clear: both;
        left: 20%;
        width: 60%;
    }

        .start-button button {
            width: 100%;
            font-size: 29px;
            height: 78px;
        }

    .restart-button {
        clear: both;
        left: 20%;
        width: 30%;
    }

        .restart-button button {
            width: 100%;
            height: 68px;
            font-size: 25px;
        }

    .clear-button {
        left: 20%;
        width: 30%;
    }

        .clear-button button {
            width: 100%;
            height: 68px;
            font-size: 25px;
        }

    .display-count {
        width: 60%;
        height: 60%;
        margin-top: 7%;
        right: 20%;
        text-align: center;
    }

        .display-count h1 {
            margin-top: 7%;
        }

    .fingers-box {
        width: 37%;
        left: 12.5%;
        top: 500px;
    }

        .fingers-box h1 {
            margin-top: 23%;
        }

    .toes-box {
        width: 37%;
        left: 15%;
        top: 500px;
    }

        .toes-box h1 {
            margin-top: 23%;
        }
}

@media only screen and (max-width: 720px) {
    .header {
        right: 2.5%;
        left: 2.5%;
        width: 80%;
        height: 15%;
    }

        .header h1 {
            position: absolute;
            font-size: 150%;
            vertical-align: middle;
        }

    .time-block {
        left: 2.5%;
        right: 2.5%;
    }

    .time-block-question {
        text-align: center;
    }

        .time-block-question h3 {
            position: relative;
        }

    .time-block-input {
        left: 20%;
        width: 60%;
    }

        .time-block-input input {
            width: 100%;
            height: 78px;
        }

    .start-button {
        clear: both;
        left: 20%;
        width: 60%;
    }

        .start-button button {
            width: 100%;
            font-size: 29px;
            height: 78px;
        }

    .restart-button {
        clear: both;
        left: 20%;
        width: 30%;
    }

        .restart-button button {
            width: 100%;
            height: 68px;
            font-size: 25px;
        }

    .clear-button {
        left: 20%;
        width: 30%;
    }

        .clear-button button {
            width: 100%;
            height: 68px;
            font-size: 25px;
        }

    .display-count {
        width: 60%;
        height: 60%;
        margin-top: 7%;
        right: 20%;
        text-align: center;
    }

        .display-count h1 {
            margin-top: 7%;
        }

    .display-blocks-section {
        width: 80%;
        right: 8%;
        left: 10%;
        height: 100px;
        margin-top: 15%;
    }

    .fingers-box {
        width: 46.25%;
        left: 2.5%;
        top: 370px;
    }

        .fingers-box h1 {
            margin-top: 32%;
        }

    .toes-box {
        width: 46.25%;
        left: 5%;
        top: 370px;
    }

        .toes-box h1 {
            margin-top: 32%;
        }
}
